

html {
    height:100%;
}

body {
    height:100%;
    margin:0;
    font-family:"游ゴシック","ヒラギノ丸ゴ Pro",sans-serif;
}

a {
    text-decoration:none;
    color:#000;
}

h2 {
    text-align: center;
}

#nav {
    display:none;
}

.errors {
    color:red;
}

.user_name {
    background-color:#cccccc;
    margin:0;
    padding:10px;
    font-size:1.5em;
}


.header {
    display:flex;
    justify-content:space-between;
    background-color:#dddddd;
}
.header-list {
    display:flex;
    list-style:none;
    align-items:center;
}

.header-title {
    margin-left:10px;
}

.header-list_content {
    margin-left:15px;
    cursor:pointer;
    
}
.footer {
    text-align:center;
    margin-top:80px;
}

/* ログインページ,新規登録ページのCSS */

.title_content{
    text-align:center;
    font-size:2em;
    margin-top:30px;
    color:#000000
}

.input  {
    text-align:center;
    margin-top:30px;
}

.input-content {
    width:40%;
    height:30px;
    border:1px solid #dddddd;
    border-radius:7px;
}

.btn {
    text-align:center;
    margin-top:30px;
}

.btn_content {
    width:40%;
    height:30px;
    background-color:#0099FF;
    border:1px solid #dddddd;
    border-radius:7px;
    color:#fff;
    font-size:1em;
}

.link { 
    text-align:center;
    color:#bbbbbb;
    margin-top:30px;
}

.link-url {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#0066FF;
    margin-top:5px;
}

.pagination {
    list-style:none;
    display:flex;
}
.pagination li {
    margin :10px;
}




table {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

table th,
table td {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

table th {
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
}
table tr{
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    color:#000000;
}




@media screen and (max-width:600px) {

    .header-list {
        display:none;
    }

/* ハンバーガーメニュー */
    #nav{
        display:block;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        transition: .7s;
        z-index:1;
    }
    #nav ul{
        padding-top: 80px;
    }
    #nav ul li{
        widht:80%;
        list-style-type: none;
        font-size: 20px;
        
    }
    .link{
        display: block;
        text-decoration: none;
        color: #ccccc;
        margin: 15px 15px;
        padding: 10px;
        transition: .5s;
    }
    .link:hover{
        color: #ffffff;
        background: #cd5c5c;
        border-bottom: none;
    }

    #hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 50px;
        height: 44px;
        cursor: pointer;
        transition: 1s;
        z-index:2;
    }

    .inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 50px;
        height: 3px;
        background-color: #000;
        transition: 1s;
        border-radius: 4px;
    }

    #line1 {
        top: 0;
    }
    #line2 {
        top: 20px;
    }
    #line3 {
        bottom: 0px;
    }

    .in{
        widht:80%;
        transform: translateX(100%);
    }
    .in ul li {
        widht:80%;
    }
    .line_1,.line_2,.line_3{
        background: #000000;
    }
    .line_1 {

        transform: translateY(20px) rotate(-315deg);
    }
    .line_2 {
        opacity: 0;
    }
    .line_3 {
        transform: translateY(-20px) rotate(315deg);
    }
    /* ハンバーガーメニュー終わり */
}


