

html {
    height:100%;
}

body {
    height:100%;
    margin:0;
    font-family:"游ゴシック","ヒラギノ丸ゴ Pro",sans-serif;
}

a {
    text-decoration:none;
    color:#000;
}

h2 {
    text-align: center;
}

.errors {
    color:red;
}

.user_name {
    background-color:#cccccc;
    margin:0;
    padding:10px;
    font-size:1.5em;
}

.header {
    display:flex;
    justify-content:space-between;
    background-color:#dddddd;
}
.header-list {
    display:flex;
    list-style:none;
    align-items:center;
}

.header-title {
    margin-left:10px;
}

.header-list_content {
    margin-left:15px;
    cursor:pointer;
    
}
.footer {
    text-align:center;
    margin-top:80px;
}

/* ログインページ,新規登録ページのCSS */

.title_content{
    text-align:center;
    font-size:2em;
    margin-top:30px;
    color:#000000
}

.input  {
    text-align:center;
    margin-top:30px;
}

.input-content {
    width:40%;
    height:30px;
    border:1px solid #dddddd;
    border-radius:7px;
}

.btn {
    text-align:center;
    margin-top:30px;
}

.btn_content {
    width:40%;
    height:30px;
    background-color:#0099FF;
    border:1px solid #dddddd;
    border-radius:7px;
    color:#fff;
    font-size:1em;
}

.link { 
    text-align:center;
    color:#bbbbbb;
    margin-top:30px;
}

.link-url {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#0066FF;
    margin-top:5px;
}

.pagination {
    list-style:none;
    display:flex;
}
.pagination li {
    margin :10px;
}

table {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

table th,
table td {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

table th {
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
}
table tr{
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    color:#000000;
}
